.word_add_wrap {
  padding:0 20px 140px;
  .container {
    width:800px;
    margin-top:40px;
  }
  .input_box {
    .input_sub {
      justify-content:end;
    }
   &+.input_box {
     margin-top:24px;
   }
  }


  /* 하단 플로팅 버튼 */
  .floating_box {
    display:flex;
    justify-content:center;
    margin-top:16px;
    width: 100%;
    box-sizing: border-box;
  }

  .btn_submit {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width:320px;
      height: 40px;
      padding: 0 24px;
      color: #fff;
      font-size: 14px;
      border: 1px solid #564297;
      border-radius: 4px;
      background:#564297;
  }

  /* 팁 */
  .word_add_tip {
    position:relative;
    display:flex;
    align-items:center;
    &.active {
      .tip_box {
        display:block;
      }
    }
    button {
      display:inline-block;
      width:20px;
      height:20px;
      margin-left:4px;
      vertical-align:super;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath opacity='0.15' d='M15.75 9C15.75 12.7279 12.7279 15.75 9 15.75C5.27208 15.75 2.25 12.7279 2.25 9C2.25 5.27208 5.27208 2.25 9 2.25C12.7279 2.25 15.75 5.27208 15.75 9Z' fill='%23C0CFDF'/%3E%3Cpath d='M9 12.7425V12.75M9 5.25V10.5M15.75 9C15.75 12.7279 12.7279 15.75 9 15.75C5.27208 15.75 2.25 12.7279 2.25 9C2.25 5.27208 5.27208 2.25 9 2.25C12.7279 2.25 15.75 5.27208 15.75 9Z' stroke='%23C0CFDF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;
    }
    .tip_box {
      position:absolute;
      top:0;
      left:30px;
      display:none;
      width:180px;
      padding:8px 16px;
      font-size:12px;
      border-radius:12px;
      box-shadow:0 1px 12px -10px #000;
      background:#fff;
    }
  }
}

@media screen and (max-width:1080px) {

  .word_add_wrap {
    padding:0 0 140px;

    .container {
      margin-top:40px;
    }
    .input_box {
      .input_sub {
        justify-content:end;
      }
      &+.input_box {
        margin-top:24px;
      }
    }


    /* 하단 플로팅 버튼 */
    .floating_box {
      margin-top:16px;
      width: 100%;
      box-sizing: border-box;
    }

    /* 팁 */
    .word_add_tip {
      display:flex;
      align-items:center;
      button {
        display:inline-block;
        width:20px;
        height:20px;
        margin-left:4px;
        vertical-align:super;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath opacity='0.15' d='M15.75 9C15.75 12.7279 12.7279 15.75 9 15.75C5.27208 15.75 2.25 12.7279 2.25 9C2.25 5.27208 5.27208 2.25 9 2.25C12.7279 2.25 15.75 5.27208 15.75 9Z' fill='%23C0CFDF'/%3E%3Cpath d='M9 12.7425V12.75M9 5.25V10.5M15.75 9C15.75 12.7279 12.7279 15.75 9 15.75C5.27208 15.75 2.25 12.7279 2.25 9C2.25 5.27208 5.27208 2.25 9 2.25C12.7279 2.25 15.75 5.27208 15.75 9Z' stroke='%23C0CFDF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;
      }
      .tip_box {
        position:absolute;
        top:0;
        left:30px;
        display:none;
        width:180px;
        padding:8px 16px;
        font-size:12px;
        border-radius:12px;
        box-shadow:0 1px 12px -10px #000;
        background:#fff;
      }
    }
  }
}