/* 플로팅 푸터박스 */
.nav_main {
  .nav_list {
    display: flex;
    width:100%;
    margin:0 auto;
    gap:0 16px;
    .list {
      width: 100%;
      .link {
        display: block;
        padding:8px 16px;
        width: 100%;
        font-size:16px;
        text-align: center;
        white-space:nowrap;
        &.active {
          color:var(--primary-20);
          font-weight:700;
        }
      }
    }
  }
}

.nav_sub {
  display:none;
}
@media screen and (max-width:1080px) {
  .nav_main {
    display:none;
  }
  /* 플로팅 푸터박스 */
  .nav_sub {
    position: fixed;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    z-index: 100;
    box-sizing: border-box;
    transition: 0.3s;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    .nav_list {
      display: flex;
      width:100%;
      margin:0 auto;
      .list {
        width: 100%;

        .link {
          display: block;
          padding: 16px 0;
          width: 100%;
          font-size:14px;
          text-align: center;
          &:before {
            display: block;
            margin: 0 auto;
            width: 20px;
            height: 20px;
            background-position:center;
            background-repeat:no-repeat;
            background-size:100%;
            content: '';
          }
          &.home {
            &:before {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_136_610)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.7878 2.21645C11.4573 1.54699 12.5427 1.54699 13.2122 2.21645L23.4979 12.5022C24.1673 13.1716 24.1673 14.2571 23.4979 14.9265C22.8285 15.596 21.743 15.596 21.0735 14.9265L12 5.853L2.92647 14.9265C2.25699 15.596 1.17157 15.596 0.502102 14.9265C-0.167367 14.2571 -0.167367 13.1716 0.502102 12.5022L10.7878 2.21645Z' fill='%23C0CFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.42871 12.0001V22.2859C3.42871 23.2327 4.19623 24.0001 5.143 24.0001H18.8573C19.8041 24.0001 20.5716 23.2327 20.5716 22.2859V12.0001L12.0001 3.42871L3.42871 12.0001ZM15 15H9V24H15V15Z' fill='%23C0CFDF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_136_610'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            }
            &.active {
              &:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_181_850)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.7878 2.21633C11.4573 1.54687 12.5427 1.54687 13.2122 2.21633L23.4979 12.502C24.1673 13.1715 24.1673 14.2569 23.4979 14.9264C22.8285 15.5959 21.743 15.5959 21.0735 14.9264L12 5.85288L2.92647 14.9264C2.25699 15.5959 1.17157 15.5959 0.502102 14.9264C-0.167367 14.2569 -0.167367 13.1715 0.502102 12.502L10.7878 2.21633Z' fill='%235779A2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.42871 12.0001V22.2859C3.42871 23.2327 4.19623 24.0001 5.143 24.0001H18.8573C19.8041 24.0001 20.5716 23.2327 20.5716 22.2859V12.0001L12.0001 3.42871L3.42871 12.0001ZM15 15H9V24H15V15Z' fill='%235779A2'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_181_850'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
              }
            }
          }
          &.vocabulary {
            &:before {
              margin-top:1px;
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_136_606)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.857143 0.2146C0.383757 0.2146 0 0.598356 0 1.07174V18.2145C0 18.688 0.383757 19.0717 0.857143 19.0717H9.01039C8.72611 18.2675 8.57143 17.402 8.57143 16.5003C8.57143 14.3208 9.47527 12.3524 10.9286 10.9495V2.4474C10.4433 1.14347 9.18727 0.2146 7.71429 0.2146H0.857143ZM13.0714 2.44738V9.48552C14.0499 9.03641 15.1386 8.78602 16.2857 8.78602C20.2519 8.78602 23.519 11.7791 23.9515 15.6298H24V1.07174C24 0.598356 23.6162 0.2146 23.1429 0.2146H16.2857C14.8127 0.2146 13.5567 1.14344 13.0714 2.44738Z' fill='%23C0CFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.2853 16.5004C13.2853 14.8435 14.6284 13.5004 16.2853 13.5004C17.9422 13.5004 19.2853 14.8435 19.2853 16.5004C19.2853 18.1572 17.9422 19.5003 16.2853 19.5003C14.6284 19.5003 13.2853 18.1572 13.2853 16.5004ZM16.2853 10.929C13.2083 10.929 10.7139 13.4234 10.7139 16.5004C10.7139 19.5775 13.2083 22.0717 16.2853 22.0717C17.3579 22.0717 18.3599 21.7687 19.21 21.2434L21.3754 23.4087C21.8775 23.9108 22.6916 23.9108 23.1937 23.4087C23.6958 22.9066 23.6958 22.0925 23.1937 21.5904L21.0282 19.4251C21.5536 18.5749 21.8567 17.5731 21.8567 16.5004C21.8567 13.4234 19.3623 10.929 16.2853 10.929Z' fill='%23C0CFDF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_136_606'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            }
            &.active {
              &:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_181_846)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.857143 0.214722C0.383757 0.214722 0 0.598478 0 1.07186V18.2146C0 18.6881 0.383757 19.0718 0.857143 19.0718H9.01039C8.72611 18.2676 8.57143 17.4021 8.57143 16.5004C8.57143 14.3209 9.47527 12.3525 10.9286 10.9496V2.44752C10.4433 1.14359 9.18727 0.214722 7.71429 0.214722H0.857143ZM13.0714 2.4475V9.48564C14.0499 9.03653 15.1386 8.78614 16.2857 8.78614C20.2519 8.78614 23.519 11.7793 23.9515 15.6299H24V1.07186C24 0.598478 23.6162 0.214722 23.1429 0.214722H16.2857C14.8127 0.214722 13.5567 1.14356 13.0714 2.4475Z' fill='%235779A2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.2853 16.5004C13.2853 14.8435 14.6284 13.5004 16.2853 13.5004C17.9422 13.5004 19.2853 14.8435 19.2853 16.5004C19.2853 18.1572 17.9422 19.5003 16.2853 19.5003C14.6284 19.5003 13.2853 18.1572 13.2853 16.5004ZM16.2853 10.929C13.2083 10.929 10.7139 13.4234 10.7139 16.5004C10.7139 19.5775 13.2083 22.0717 16.2853 22.0717C17.3579 22.0717 18.3599 21.7687 19.21 21.2434L21.3754 23.4087C21.8775 23.9108 22.6916 23.9108 23.1937 23.4087C23.6958 22.9066 23.6958 22.0925 23.1937 21.5904L21.0282 19.4251C21.5536 18.5749 21.8567 17.5731 21.8567 16.5004C21.8567 13.4234 19.3623 10.929 16.2853 10.929Z' fill='%235779A2'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_181_846'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
              }
            }
          }
          &.community {
            &:before {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M3.00003 11.5C2.99659 12.8199 3.30496 14.1219 3.90003 15.3C4.6056 16.7118 5.69028 17.8992 7.03258 18.7293C8.37488 19.5594 9.92179 19.9994 11.5 20C12.8199 20.0035 14.1219 19.6951 15.3 19.1L21 21L19.1 15.3C19.6951 14.1219 20.0035 12.8199 20 11.5C19.9994 9.92179 19.5594 8.37488 18.7293 7.03258C17.8992 5.69028 16.7118 4.6056 15.3 3.90003C14.1219 3.30496 12.8199 2.99659 11.5 3.00003H11C8.91568 3.11502 6.94699 3.99479 5.47089 5.47089C3.99479 6.94699 3.11502 8.91568 3.00003 11V11.5Z' fill='%23C0CFDF'/%3E%3Cpath d='M21 21L15.3 19.1C15.3 19.1 14.0847 20 11.5 20C6.80558 20 3 16.1944 3 11.5C3 6.80558 6.80558 3 11.5 3C16.1944 3 20 6.80558 20 11.5C20 14 19.1 15.3 19.1 15.3L21 21Z' stroke='%23C0CFDF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.5 11.5H15.51M11.5 11.5H11.51M7.5 11.5H7.51' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            }
            &.active {
              &:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M3.79841e-05 11.3334C-0.00455035 13.0932 0.406612 14.8292 1.20004 16.4C2.14079 18.2823 3.58703 19.8656 5.37676 20.9724C7.1665 22.0792 9.22903 22.6659 11.3334 22.6667C13.0932 22.6713 14.8292 22.2601 16.4 21.4667L24 24L21.4667 16.4C22.2601 14.8292 22.6713 13.0932 22.6667 11.3334C22.6659 9.22903 22.0792 7.16649 20.9724 5.37676C19.8656 3.58703 18.2823 2.14079 16.4 1.20004C14.8292 0.406612 13.0932 -0.00455035 11.3334 3.79841e-05H10.6667C7.88756 0.15336 5.26264 1.32638 3.29451 3.29451C1.32638 5.26264 0.15336 7.88756 3.79841e-05 10.6667V11.3334Z' fill='%235779A2'/%3E%3Cpath d='M16.6666 11.3334H16.68M11.3333 11.3334H11.3467M6 11.3334H6.01333' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
              }
            }
          }
          &.profile {
            &:before {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.83638 0.118165C6.10928 -0.0383404 6.44585 -0.0394513 6.7198 0.115249L12.7044 3.49474L18.689 0.115249C18.963 -0.0394513 19.2995 -0.0383404 19.5725 0.118165C19.8453 0.27467 20.0133 0.562903 20.0133 0.874712V7.22281C20.0133 10.7638 17.4348 13.7097 14.0321 14.3267V22.5238C14.0321 23.2484 13.4377 23.8359 12.7044 23.8359C11.9711 23.8359 11.3767 23.2484 11.3767 22.5238V14.3267C7.97398 13.7096 5.39551 10.7638 5.39551 7.22281V0.874712C5.39551 0.562903 5.56347 0.27467 5.83638 0.118165Z' fill='%23C0CFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.70508 18.7517V17.6197C2.70508 17.1366 3.10137 16.745 3.59022 16.745H7.48873C10.0791 16.745 12.2363 18.5777 12.7051 21.0025C13.1738 18.5777 15.3311 16.745 17.9214 16.745H21.8199C22.3087 16.745 22.7051 17.1366 22.7051 17.6197V18.7517C22.7051 21.6502 20.3272 24 17.3942 24H12.7996H12.6106H8.0159C5.08282 24 2.70508 21.6502 2.70508 18.7517Z' fill='%23C0CFDF'/%3E%3C/svg%3E");
            }
            &.active {
              &:before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.83638 0.118165C6.10928 -0.0383404 6.44585 -0.0394513 6.7198 0.115249L12.7044 3.49474L18.689 0.115249C18.963 -0.0394513 19.2995 -0.0383404 19.5725 0.118165C19.8453 0.27467 20.0133 0.562903 20.0133 0.874712V7.22281C20.0133 10.7638 17.4348 13.7097 14.0321 14.3267V22.5238C14.0321 23.2484 13.4377 23.8359 12.7044 23.8359C11.9711 23.8359 11.3767 23.2484 11.3767 22.5238V14.3267C7.97398 13.7096 5.39551 10.7638 5.39551 7.22281V0.874712C5.39551 0.562903 5.56347 0.27467 5.83638 0.118165Z' fill='%235779A2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.70508 18.7517V17.6197C2.70508 17.1366 3.10137 16.745 3.59022 16.745H7.48873C10.0791 16.745 12.2363 18.5777 12.7051 21.0025C13.1738 18.5777 15.3311 16.745 17.9214 16.745H21.8199C22.3087 16.745 22.7051 17.1366 22.7051 17.6197V18.7517C22.7051 21.6502 20.3272 24 17.3942 24H12.7996H12.6106H8.0159C5.08282 24 2.70508 21.6502 2.70508 18.7517Z' fill='%235779A2'/%3E%3C/svg%3E");
              }
            }
          }
        }
      }
    }
  }
}