.text_input {
  display:flex;
  align-items:center;
  width: 100%;
  height:52px;
  padding: 0 16px;
  color:var(--primary-10);
  font-size:16px;
  border:1px solid #c6cdd3;
  border-radius:4px;
  box-sizing: border-box;
  resize:none;
  &::placeholder {
    color:var(--primary-10);
    font-size:16px;
  }
  &:focus {
    outline:2px solid var(--primary-10);
  }
}

@media screen and (max-width:1080px) {
  .text_input {
    padding:0 20px;
    height:40px;
    font-size:14px;
  }
}
